/******************* Standards: *******************/

/************ fonts **********/

/* section title: */
.playfair {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  margin: 18px 0 27px 18px;
}

/* paragraphs: */
.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/********** buttons **********/
.btnBlue {
  text-decoration: none;
  color: #fff;
  background-color: #1a2236;
  text-align: center;
  font-size: 1.2rem;
  padding: 15px;
  border: 2px solid #fff;
}

.btnBlue:focus {
  outline: none;
  border: 2px solid #98dede;
  color: #1a2236;
  background-color: #fff;
}

.btnBlue:hover {
  color: #1a2236;
  background-color: #fff;
  border: 2px solid #7d7c84;
}

.btnBlue:active {
  background-color: #fff;
  border-color: #1a2236;
  color: #1a2236;
}

/*********** Reset ***********/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  border: 2px solid #98dede;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: auto;
  overflow-x: hidden;
}

/********************** Header ***********************/

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

nav {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.logo {
  position: relative;
  width: 111px;
  height: 74px;
  background: url('images/deco/mobile/nav-logo.svg');
  z-index: 1;
}

/**** Display Menu Button ****/

.menu-btn-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 24px;
  margin: 27px 18px;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.menu-btn,
.menu-btn::before,
.menu-btn::after {
  display: block;
  background: #1a2236;
  position: absolute;
  height: 3px;
  width: 24px;
  border-radius: 2px;
}

.menu-btn::before {
  content: '';
  margin-top: -9px;
}

.menu-btn::after {
  content: '';
  margin-top: 9px;
}

/****************** Headline *****************/

.headline-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.headline-title {
  font-size: 450%;
  font-weight: 400;
  line-height: 100%;
  margin: 18px 0 0 0;
}

.headline-container p {
  color: #1a2236;
  margin: 27px 0;
}

.shapes-design-container {
  margin: 15px 0;
  width: 100%;
  height: 53.333vw;
  background:
    url('images/deco/mobile/image_geometry-headline-mobile.svg')
    no-repeat;
  background-size: contain;
}

/*************** Projects Section *********************/

#works {
  display: grid;
  width: 100%;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
}

.project-description {
  display: flex;
  flex-direction: column;
  background: #1a2236;
  padding: 18px;
  color: #fff;
  margin-top: -4px;
}

.project-title {
  font-weight: 300;
  font-size: 1.5rem;
}

.tech-container {
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-block: 18px 27px;
}

.tech-item {
  padding: 3px 6px;
  margin-right: 9px;
  background: #98dede;
  color: #1a2236;
  font-weight: 400;
  font-size: 0.9rem;
}

.seeProjBtn {
  width: fit-content;
  display: flex;
  justify-content: left;
}

.arrow {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('images/icons/arrow.svg') 0 50% no-repeat;
  background-size: contain;
  margin-left: 9px;
}

.seeProjBtn:hover .arrow {
  background: url('images/icons/arrow-black.svg') 0 50% no-repeat;
  background-size: contain;
}

/*********************** About ***********************/

#about {
  display: flex;
  flex-direction: column;
  padding: 18px;
}

#about p {
  margin-bottom: 27px;
}

.getCV {
  display: flex;
  justify-content: center;
}

.download {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  background: url('images/icons/download-icon-1.svg') 80% 50% no-repeat;
  margin-left: 1rem;
}

.getCV:hover .download {
  background: url('images/icons/download-icon.svg') 80% 50% no-repeat;
}

.tech-cards-container {
  display: grid;
  list-style: none;
  margin-top: 27px;
}

.tech-card {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  list-style: none;
  color: #fff;
  margin-block: 9px;
  height: 300px;
}

.tech-card h2 {
  margin-bottom: 2rem;
}

.tech {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: 600;
}

.langs {
  background: #1c528a url('images/deco/about/lang.svg') 100% 100% no-repeat;
}

.frames {
  background:
    #e2505c url('images/deco/about/Frameworks.svg') 100% 100%
    no-repeat;
}

.skills {
  background: #febf52 url('images/deco/about/skills.svg') 100% 100% no-repeat;
}

/*********************** Footer *******************************/

footer {
  background: #1a2236;
  display: flex;
  flex-direction: column;
}

.open {
  text-decoration: none;
  color: #98dede;
  margin: 2rem 1rem;
  width: fit-content;
  padding-right: 45px;
  background:
    url('images/icons/open-in-new-window-icon-LightBlue.svg') 100% 50%
    no-repeat;
}

.social-container {
  display: flex;
  margin: 0 1rem 1rem 1rem;
  justify-content: space-between;
}

.social {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.stack {
  background: url('images/icons/stackoverflow.svg') no-repeat;
}

.gith {
  background: url('images/icons/github-icon.svg') no-repeat;
}

.twit {
  background: url('images/icons/twitter.svg') no-repeat;
}

.link {
  background: url('images/icons/linkedin.svg') no-repeat;
}

.m {
  background: url('images/icons/M-icon.svg') no-repeat;
}

.pNL {
  background: url('images/icons/pnl-icon.svg') no-repeat;
}
