/******************* Standards: *******************/

/************ fonts **********/

html {
  font-size: 14px;
}

/* section title: */
.playfair {
  font-family: 'Playfair Display', serif;
  font-size: 3.36rem;
  font-weight: 400;
  margin: 0 0 27px 18px;
  color: #1a2236;
}

/* paragraphs: */
.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #1a2236;
}

/*********** lists ***********/

ul {
  list-style: none;
}

/********** buttons **********/
.btnBlue {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  background-color: #1a2236;
  text-align: center;
  font-size: 1.2rem;
  padding: 15px;
  border: 2px solid #fff;
  cursor: pointer;
}

.btnBlue:focus {
  outline: none;
  border: 2px solid #98dede;
  color: #1a2236;
  background-color: #fff;
}

.btnBlue:hover {
  color: #1a2236;
  background-color: #fff;
  border: 2px solid #7d7c84;
}

.btnBlue:active {
  background-color: #fff;
  border-color: #1a2236;
  color: #1a2236;
}

.btnBlue:visited {
  border-color: #7d7c84;
}

/*********** Reset ***********/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  border: 2px solid #98dede;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  overflow-x: hidden;
}

/********************** Header ***********************/

header {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.logo {
  width: 111px;
  height: 74px;
  background: url('images/deco/mobile/nav-logo.svg');
}

/*********Nav Bar **********/

nav {
  display: flex;
  justify-content: space-between;
  display: none;
}

nav ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 74px;
  width: 100%;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #1a2236;
}

/**** Display Menu Button ****/

.menu-btn-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60px;
  margin: 36px 9px;
  align-items: center;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.menu-btn,
.menu-btn::before,
.menu-btn::after {
  display: block;
  background: #1a2236;
  position: absolute;
  height: 3px;
  width: 24px;
  border-radius: 2px;
}

.menu-btn::before {
  content: '';
  margin-top: -9px;
}

.menu-btn::after {
  content: '';
  margin-top: 9px;
}

/****************** Headline *****************/

#headline {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 18px;
}

.headline-container {
  display: flex;
  flex-direction: column;
}

.headline-title {
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 100%;
  margin: 18px 0 0 0;
}

#headline p {
  margin: 27px 0;
}

.headline-deco {
  margin: 27px 0 0 -18px;
  width: 100vw;
  height: 53.333vw;
  background: url('images/deco/mobile/image_geometry-headline-mobile.svg')
    no-repeat;
  background-size: contain;
}

/*************** Projects *********************/

#works {
  display: grid;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
}

.project-description {
  display: flex;
  flex-direction: column;
  background: #1a2236;
  padding: 18px;
  color: #fff;
  margin-top: -4px;
}

.project-title {
  font-weight: 300;
  font-size: 1.5rem;
}

.tech-container {
  display: flex;
  font-weight: 300;
  list-style: none;
  margin-block: 18px 27px;
}

.tech-item {
  padding: 3px 6px;
  margin-right: 9px;
  background: #98dede;
  color: #1a2236;
  font-weight: 400;
  font-size: 0.9rem;
}

.seeProjBtn {
  width: fit-content;
  display: flex;
  justify-content: left;
  text-align: center;
}

.arrow {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 9px;
  background: url('images/icons/arrow.svg') 90% 50% no-repeat;
  background-size: 24px;
}

.seeProjBtn:hover .arrow {
  background: url('images/icons/arrow-black.svg') 90% 50% no-repeat;
  background-size: 24px;
}

/*********************** About ***********************/

#about {
  display: flex;
  flex-direction: column;
  padding: 18px;
}

#about h1 {
  margin: 18px 0;
}

#about p {
  margin-bottom: 27px;
}

.getCV {
  display: flex;
  justify-content: center;
}

.download {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  background: url('images/icons/download-icon-1.svg') 80% 50% no-repeat;
  margin-left: 1rem;
}

.getCV:hover .download {
  background: url('images/icons/download-icon.svg') 80% 50% no-repeat;
}

.tech-cards-container {
  display: grid;
  list-style: none;
  margin-top: 27px;
}

.tech-card {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  color: #fff;
  margin-block: 9px;
  height: 300px;
}

.tech-card h2 {
  margin-bottom: 2rem;
}

.tech {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: 600;
}

.langs {
  background: #1c528a url('images/deco/about/lang.svg') 100% 100% no-repeat;
}

.frames {
  background: #e2505c url('images/deco/about/Frameworks.svg') 100% 100%
    no-repeat;
}

.skills {
  background: #febf52 url('images/deco/about/skills.svg') 100% 100% no-repeat;
}

/******************** Contact Form ******************************/

#contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #f9f9fa url('images/deco/mobile/nav-logo.svg') no-repeat;
  padding-block: 93px 36px;
}

.form-p {
  margin-left: 18px;
}

form {
  margin: 18px;
}

.input-container {
  position: relative;
  background: #fff;
  margin-block: 9px;
  border-radius: 4px;
  width: 100%;
}

.input-container label {
  position: absolute;
  top: 9px;
  left: 18px;
  color: #7d7c84;
  display: flex;
  font-size: 0.7rem;
  font-weight: 400;
}

.input-container input {
  background: #fff;
  width: 100%;
  border: 1px solid #dfdfe0;
  padding: 30px 18px 9px 18px;
  border-radius: 4px;
  color: #1a2236;
  font-size: 1rem;
}

textarea {
  width: 100%;
  min-height: 111px;
  border-radius: 4px;
  border: 1px solid #dfdfe0;
  padding: 18px;
}

.input-container input:focus,
textarea:focus {
  border: 1px solid #1a2236;
}

/*********************** Footer *******************************/

footer {
  background: #1a2236;
  display: flex;
  flex-direction: column;
}

.open {
  text-decoration: none;
  color: #98dede;
  margin: 2rem 1rem;
  width: fit-content;
  padding-right: 45px;
  background: url('images/icons/open-in-new-window-icon-LightBlue.svg') 100% 50%
    no-repeat;
}

.social-container {
  display: flex;
  margin: 0 1rem 1rem 1rem;
  justify-content: space-between;
}

.social {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.stack {
  background: url('images/icons/stackoverflow.svg') no-repeat;
}

.gith {
  background: url('images/icons/github-icon.svg') no-repeat;
}

.twit {
  background: url('images/icons/twitter.svg') no-repeat;
}

.link {
  background: url('images/icons/linkedin.svg') no-repeat;
}

.m {
  background: url('images/icons/M-icon.svg') no-repeat;
}

.pNL {
  background: url('images/icons/pnl-icon.svg') no-repeat;
}

/******************************** Desktop ******************************************/

@media screen and (min-width: 768px) {
  .btnBlue {
    padding-inline: 9%;
  }

  header {
    justify-content: center;
    border-bottom: 1px solid #e5e5e5;
  }

  /****** Nav Bar ******/
  .show-hide {
    display: none;
  }

  nav {
    display: block;
  }

  nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 0;
    height: 70px;
    justify-content: center;
    align-items: center;
  }

  .nav-item {
    margin-inline: 18px;
  }

  /****** Headline *****/

  #headline {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: flex-end;
  }

  .headline-container {
    flex-direction: column;
    width: 45.6vw;
    padding-inline: 3vw 6vw;
    align-items: flex-start;
    justify-content: center;
    background: url('images/deco/desktop/eight_dots.svg') right bottom no-repeat;
    background-size: calc(52vw / 4);
  }

  .headline-title {
    font-size: 9vw;
    margin-bottom: 18px;
  }

  .headline-container a {
    font-size: 1.2rem;
    width: fit-content;
  }

  .headline-deco {
    position: relative;
    right: 0;
    width: 52vw;
    height: calc(52vw * 1.249);
    margin: 0;
    background: url('images/deco/desktop/image-geometry_1.svg') no-repeat;
    background-size: cover;
  }

  /***************** Projects *****************/

  #works {
    position: relative;
    grid-template-areas:
      'title p1 p1 p1'
      'p2 cntr cntr p5p6'
      'p3 p3  rght rght'
      'lft lft p4 p4';
    width: 100%;
    margin-top: 9vw;
  }

  #works > h1 {
    grid-area: title;
    position: absolute;
    display: flex;
    left: 4.9vw;
    top: -6.45vw;
    transform: rotate(-90deg);
    font-size: 6vw;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 36vw;
    margin: 0;
    padding-bottom: 9vw;
    background: url('images/deco/desktop/eight_dots.svg') bottom right no-repeat;
    background-size: 12.1527vw;
  }

  .project {
    position: relative;
  }

  .p1 {
    grid-area: p1;
    top: 0.27vw;
    right: -1vw;
    width: 65.4vw;
  }

  .p2 {
    grid-area: p2;
    top: 4.65vw;
    width: 32.4vw;
    height: 18.99vw;
    z-index: 1;
  }
  .p3 {
    grid-area: p3;
    width: 54.86vw;
  }

  .p4 {
    grid-area: p4;
    top: -0.15vw;
    left: -0.12vw;
    width: 32.292vw;
  }

  .p5,
  .p6 {
    grid-area: p5p6;
    width: 32.13vw;
    height: 18.99vw;
  }

  .p5 {
    top: 18vw;
    z-index: 2;
  }

  .p6 {
    top: 0.12vw;
  }

  .deco {
    display: inline-block;
  }

  .center {
    grid-area: cntr;
    top: 0.24vw;
    height: 23.5vw;
    z-index: 1;
    background: url('images/deco/desktop/work-center-deco.svg') no-repeat;
    background-size: 34.2vw;
  }

  .right {
    grid-area: rght;
    position: relative;
    width: 43.9vw;
    background: url('images/deco/desktop/work-right-deco.svg') bottom left
      no-repeat;
    background-size: contain;
  }

  .left {
    grid-area: lft;
    top: -0.12vw;
    width: 54.86vw;
    z-index: 1;
    background: url('images/deco/desktop/work-left-deco.svg') top left no-repeat,
      url('images/deco/desktop/single_drop.svg') top right no-repeat;
    background-size: 14.65vw 8.61vw, 6.04vw;
  }

  /*** Thumbnail ***/

  .project-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    display: none;
  }

  .project:hover .project-description {
    display: flex;
    z-index: 3;
  }

  .project-title {
    font-size: 1.44rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .tech-container {
    margin-block: 9px;
  }

  .tech-item {
    white-space: nowrap;
  }

  .tech-item:nth-of-type(3) {
    overflow: hidden;
    text-overflow: '+'; /* <-- Can you tell me why this is not working?*/
  }

  .seeProjBtn {
    width: 159px;
    font-size: 1rem;
    padding: 6px;
  }

  .arrow {
    background-size: 18px;
  }

  .seeProjBtn:hover .arrow {
    background-size: 18px;
  }
}
