// _standards.scss

/* colors */

$blue: #1a2236;
$white: #fff;
$gray: #7d7c84;
$focusBorder: #98dede;

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
  border: 2px solid $focusBorder;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  margin: auto;
  overflow-x: hidden;

  /* Section Title font-styles */

  .playfair {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin: 18px 0 27px 18px;
  }

  /* Paragraph font-styles */
  .poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
  }

  .btnB {
    text-decoration: none;
    margin: 0;
    padding: 1rem 18px;
    border-style: none;
    color: $white;
    background: $blue;
    border: 2px solid $white;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    align-items: center;
    cursor: pointer;
  }

  .btnB:focus {
    outline: none;
    border: 2px solid $focusBorder;
    color: $blue;
    background-color: $white;
  }

  .btnB:hover {
    color: $blue;
    background-color: $white;
    border: 2px solid $gray;
  }

  .btnB:active {
    background-color: $white;
    border-color: $blue;
    color: $blue;
  }
}
